<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #2874f0;">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="" style="color: white;"><img src="assets/logo.png"
                style="max-width: 100%; height: 50px;" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li>
                    <div class="input-group mb-3 ms-4">
                        <!-- <form action=""> -->
                        <input type="text" id="s1" name="se1" class="form-control" placeholder="Enter Product Name"
                            aria-label="" aria-describedby="button-addon2">
                        <button class="btn btn-light" type="button" id="button-addon2"><i
                                class="fa-solid fa-magnifying-glass"></i></button>

                        <!-- </form> -->

                    </div>
                </li>

            </ul>
                <button routerLink="/cart" class="btn btn-primary" >
                    <i class="fa-solid fa-cart-plus fa-1x"></i>
                    <div class="badge bg-danger">{{totalItem}}</div>

                </button>
            
        </div>
    </div>
</nav>
